# Example environment variables for Kimbela

SECRET_KEY=
RESEND_API_KEY=

MAIL_SERVER=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_USE_TLS=True
MAIL_USE_SSL=False
MAIL_DEFAULT_SENDER=

REDIS_URL=redis://localhost:6379/0
MARKETPLACE_PAYMENTS_ENABLED=0

FLASK_ENV=development
FLASK_APP=runserver.py

SQLALCHEMY_DATABASE_URI=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# PAYSTACK_PUBLIC_KEY=
# PAYSTACK_SECRET_KEY=

MONNIFY_API_KEY=
MONNIFY_SECRET_KEY=
MONNIFY_CONTRACT_CODE=
MONNIFY_BASE_URL=https://sandbox.monnify.com/api/v1

FLW_PUBLIC_KEY=
FLW_SECRET_KEY=
FLW_ENCRYPTION_KEY=
FLW_WEBHOOK_HASH=

BASE_URL=http://localhost:5000

GIPHY_API_KEY=
