<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- PWA Manifest & Init Script -->
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <script src="{{ url_for('static', filename='pwa_init.js') }}"></script>
    
    {% block head %}
    {% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}

    {% block scripts %}
    {% endblock %}
</body>
</html>
