<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="apple-mobile-web-app-title" content="Kimbela">
    <!-- PWA Manifest & Init Script -->
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <script src="{{ url_for('static', filename='pwa_init.js') }}"></script>
    
    <!-- App Icons -->
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/icons/icon-192x192.png') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/icons/icon-192x192.png') }}">

    <!-- iOS Splash Screens -->
    <link rel="apple-touch-startup-image" media="(device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3)" href="{{ url_for('static', filename='img/splash/iphone_15_pro_max.png') }}">
    <link rel="apple-touch-startup-image" media="(device-width: 393px) and (device-height: 852px) and (-webkit-device-pixel-ratio: 3)" href="{{ url_for('static', filename='img/splash/iphone_15_pro.png') }}">
    <link rel="apple-touch-startup-image" media="(device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3)" href="{{ url_for('static', filename='img/splash/iphone_13_pro_max.png') }}">
    <link rel="apple-touch-startup-image" media="(device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3)" href="{{ url_for('static', filename='img/splash/iphone_13_pro.png') }}">
    <link rel="apple-touch-startup-image" media="(device-width: 360px) and (device-height: 780px) and (-webkit-device-pixel-ratio: 3)" href="{{ url_for('static', filename='img/splash/iphone_13_mini.png') }}">
    <link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)" href="{{ url_for('static', filename='img/splash/iphone_11_pro_max.png') }}">
    <link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)" href="{{ url_for('static', filename='img/splash/iphone_11_pro.png') }}">
    <link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)" href="{{ url_for('static', filename='img/splash/iphone_11.png') }}">
    <link rel="apple-touch-startup-image" media="(device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3)" href="{{ url_for('static', filename='img/splash/iphone_8_plus.png') }}">
    <link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" href="{{ url_for('static', filename='img/splash/iphone_8.png') }}">
    <link rel="apple-touch-startup-image" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)" href="{{ url_for('static', filename='img/splash/ipad_pro_12_9.png') }}">
    <link rel="apple-touch-startup-image" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)" href="{{ url_for('static', filename='img/splash/ipad_pro_11.png') }}">
    <link rel="apple-touch-startup-image" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)" href="{{ url_for('static', filename='img/splash/ipad_pro_10_5.png') }}">
    <link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)" href="{{ url_for('static', filename='img/splash/ipad_mini.png') }}">
    {% block head %}
    {% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
    {% block content %}
    {% endblock %}

    {% block scripts %}
    {% endblock %}
</body>
</html>
